---
import { Image } from "astro:assets";
import AboutImage from "../assets/About.png";
import Kristina from "../assets/Kristina.png";
import sewingMachine from "../assets/sewingMachine.png";
import instagram from "../assets/instagram.png";
---

<script type="module">
    import { gsap } from "https://cdn.skypack.dev/gsap";
    import { ScrollTrigger } from "https://cdn.skypack.dev/gsap/ScrollTrigger";

    window.addEventListener('load', () => {
        gsap.registerPlugin(ScrollTrigger);

        gsap.to("#parallaxAbout", {
            yPercent: -25,
            ease: "none",
            scrollTrigger: {
                trigger: "#parallaxAbout",
                // start: "top bottom", // the default values
                // end: "bottom top",
                scrub: true
            }, 
        });

        gsap.to("#parallaxAbout2", {
            yPercent: -50,
            ease: "none",
            scrollTrigger: {
                trigger: "#parallaxAbout",
                // start: "top bottom", // the default values
                // end: "bottom top",
                scrub: true
            }, 
        });
    });
</script>

<section class="relative flex flex-col w-full border-b-2 border-black bg-brand-yellow lg:flex-row-reverse md:items-center lg:justify-center lg:pt-24 lg:pb-12" id="about">
    <Image
        fetchpriority="high"
        alt="About Piper's Patterns"
        class="absolute -top-6 left-8 w-80 my-auto overflow-hidden"
        src={AboutImage}
        loading="eager"
        width="512"
        height="406"
        decoding="async"
    />
    <div class="relative w-full my-auto h-full flex flex-grow justify-center items-center p-12 lg:max-w-lg">
        <Image
            fetchpriority="high"
            alt="Owner: Kristina"
            class="relative flex my-auto overflow-hidden lg:max-w-lg"
            src={Kristina}
            loading="eager"
            width="512"
            height="406"
            decoding="async"
        />
        <div class="absolute w-24 left-14 bottom-14" id="parallaxAbout">
            <Image
                fetchpriority="high"
                alt="sewing machine graphic"
                class="w-full h-auto"
                src={sewingMachine}
                loading="eager"
                decoding="async"
            />
        </div>
        <div class="absolute w-32 right-12 bottom-24" id="parallaxAbout2">
            <Image
                fetchpriority="high"
                alt="instagram handle: @kristina_hahn04"
                class="w-full h-auto"
                src={instagram}
                loading="eager"
                decoding="async"
            />
        </div>
    </div>
    <div>
        <blockquote class="flex px-12 pb-12 text-xl max-w-xl">
            "Founded with a passion for celebrating the joy and love that dogs bring into our lives, Piper's Patterns emerged from the desire to offer more than just pet accessories –
            I'm here to enhance the connection between you and your four-legged friends. I understand that every dog is special, and that's why I've dedicated myself to crafting high-quality,
            stylish, and comfortable dog bandanas that speak volumes about your pup's individuality"
        </blockquote>
        <p class="px-12 pb-12 text-xl font-semibold">Kristina Hahn</p>
    </div>
</section>

